body {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
}

@media only screen and (max-width: 600px) {
  .container {
    justify-content: center;
    flex-direction: column;
  }

  .slides {
    margin: 0;
  }
}

.slides {
  margin: 0px 80px 0px 200px;
  width: 320px;
  height: 320px;
}

.text {
  font-size: 2.5rem;
  max-height: 320px;
}
